<section>
    <div class="about-me">
        <app-logo></app-logo>
    </div>
    <article>
        <div class="me"><img src="assets/media/me.png" alt="Imagen chica"></div>
        <div class="bocadillo">
            <h2>{{ 'about.PRESENTATION.NAME' | translate }}</h2>
            <p>{{ 'about.PRESENTATION.DESC.1' | translate }}</p>
            <p>{{ 'about.PRESENTATION.DESC.2' | translate }}</p>
            <p>{{ 'about.PRESENTATION.DESC.3' | translate }}</p>
        </div>
        <div><img class="me-2" src="assets/media/me-2.jpeg" alt=""></div>
        <div>
            <div class="recomendacion">
                <q>{{ 'about.CARD.1' | translate }}</q>
                <span>{{ 'about.CARD.EMP' | translate }}</span>
            </div>
            <div class="recomendacion">
                <q>{{ 'about.CARD.2' | translate }}</q>
                <span>{{ 'about.CARD.EMP' | translate }}</span>
            </div>
        </div>
    </article>
</section>