@use 'utils' as utils;
header{
    height: 10vh;

    nav{
        width: 100vw;
        padding: 1.5rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-direction: row;
        gap: 1.5rem;

        a{
            width: 7%;
            height: auto;
        }

        .menu-toggle {
            display: none;
        }

        div{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: row;
            flex-wrap: nowrap;
            gap: 1.5rem;
        }

        button{
            height: 2rem;
            width: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;

            svg{
                width: 1rem;
                height: 1rem;
            }
        }

        menu li{
            display: inline;
            padding: 0 2rem;

            a{
                text-decoration: none;
                text-transform: uppercase;
            }
        }

        #lang{
            position: relative;
            div{
                font-size: 0.8rem;
                display: none;
                position: absolute;
                padding: 1rem 0;
                top: 100%;
                left: 0;
                z-index: 10;

                button{
                    padding: 0.2rem 0;
                    box-shadow: none;
                }
            }

            &:hover div{
                display: block;
            }
        }

        @include utils.respond-to(utils.$tablet) {
            flex-direction: row;
            justify-content: space-around;

            a{
                width: 15vw;
            }

            menu {
                display: none;
                flex-direction: column;
                align-items: flex-start;
                position: absolute;
                top: 0;
                left: 0;
                padding: 7rem 4rem;
                background-color: var(--color-blue);
                width: 50vw;
                height: 100vh;
                z-index: 100;
                transition: transform 0.3s ease-in-out;

                li {
                display: block;
                padding: 0.5rem 0;
                }

                &.open {
                    display: flex;
                }
            }

            .menu-toggle {
                display: flex;
                box-shadow: none;
                z-index: 101;

                svg {
                width: 2rem;
                height: 2rem;
                }
            }
        }
    }
}