@if (category) {
    <h1>{{category.name}}</h1>
    <div class="controls">
        <button (click)="prevPage()">&#8592;</button>
        <div class="flipbook" #bookContainer>
            <div class="cover" #cover></div>
            @for(project of category.projects; track project.title; let i = $index) {
                <div class="page"
                [class.active]="i === currentPage"
                [style.zIndex]="category.projects.length - i"
                #pages>
                <!-- Imagen -->
                @if (project.type === 'image') {
                    <img [src]="project.img" [alt]="project.title" />
                }
                <!-- Video -->
                @if (project.type === 'video') {
                    <video
                        [src]="project.video"
                        controls
                        autoplay
                        muted
                        loop
                        playsinline
                    ></video>
                }

                <!-- Canvas 3D -->
                @if (project.type === '3d') {
                    <canvas #canvas3d [id]="'canvas-' + i"></canvas>
                }
                <div class="info">
                    <!--<h3>{{ project.title }}</h3>-->
                </div>
            </div>
            }
            <div class="back-cover"></div>
        </div>
        <button (click)="nextPage()">&#8594;</button>
    </div>
}
