@use 'utils' as utils;
article{
    display: grid;
    padding: 5rem;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;

    @include utils.respond-to(utils.$tablet) {
        grid-template-columns: repeat(2, 1fr);
    }

    @include utils.respond-to(utils.$tablet-small) {
        grid-template-columns: 1fr;
    }

    div{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 2rem;

        img{
            width: 4rem;
            height: 4rem;
            border: 0.3rem solid var(--color-gray);
            border-radius: 50%;
            padding: 0.5rem;
        }

        div{
            display: block;

            h3{
                font-family: Dan;
                font-size: 2rem;
                text-transform: uppercase;
                letter-spacing: 0.1rem;
            }         
        }
    }
}