<section>
    <h1>{{ 'skills.TITLE' | translate }}</h1>
    <article>
        <div>
            <img src="assets/media/id.svg" alt="Icono de Indesign">
            <div>
                <h3>Indesign</h3>
                <p>Maqueto catálogos, revistas y materiales editoriales con estructuras visuales limpias y profesionales.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/ai.svg" alt="Icono de illustrator">
            <div>
                <h3>Illustrator</h3>
                <p>Diseño logotipos, identidades visuales y gráficos vectoriales adaptados a distintos soportes.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/ps.svg" alt="Icono de photoshop">
            <div>
                <h3>Photoshop</h3>
                <p>Retoque fotográfico, fotomontaje y creación de piezas gráficas para campañas digitales y redes.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/lr.svg" alt="Icono de lightroom">
            <div>
                <h3>Lightroom</h3>
                <p>Ajuste de color y revelado fotográfico para mantener coherencia estética en proyectos visuales.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/acrobat.svg" alt="Icono de acrobat pro">
            <div>
                <h3>Acrobat Pro</h3>
                <p>Preparación y revisión de archivos PDF listos para impresión o distribución digital.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/procreate.svg" alt="Icono de procreate">
            <div>
                <h3>Procreate</h3>
                <p>Ilustración digital y bocetos creativos para proyectos de branding o redes sociales.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/ae.svg" alt="Icono de after effects">
            <div>
                <h3>After effects</h3>
                <p>Animo gráficos, textos y elementos visuales para videos y motion graphics.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/pr.svg" alt="Icono de premiere pro">
            <div>
                <h3>Premiere Pro</h3>
                <p>Edición de videos, sincronización con audio y montaje narrativo.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/davinci.svg" alt="Icono de Davinci resolve">
            <div>
                <h3>Davinci Resolve</h3>
                <p>Corrección de color y acabado visual profesional en proyectos de video.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/figma.svg" alt="Icono de figma">
            <div>
                <h3>Figma</h3>
                <p>Diseño de interfaces, prototipado interactivo y creación de sistemas visuales consistentes.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/blender.svg" alt="Icono de blender">
            <div>
                <h3>Blender</h3>
                <p>Modelado 3D para integrar en proyectos visuales o web.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/angular.svg" alt="Icono de angular">
            <div>
                <h3>Angular</h3>
                <p>Desarrollo interfaces modulares y escalables con arquitectura front-end moderna.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/htmlycss.svg" alt="Icono de htmlycss">
            <div>
                <h3>HTML Y CSS</h3>
                <p>Maquetación web responsive y adaptación de diseños a código limpio y semántico.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/js.svg" alt="Icono de javascript">
            <div>
                <h3>Javascript</h3>
                <p>Implemento interactividad, animaciones y comportamiento dinámico en la web.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/java.svg" alt="Icono de php">
            <div>
                <h3>Java</h3>
                <p>Programación orientada a objetos y desarrollo de componentes lógicos para proyectos web.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/php.svg" alt="Icono de php">
            <div>
                <h3>PHP</h3>
                <p>Desarrollo funcionalidad backend y conexión con bases de datos.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/sql.svg" alt="Icono de sql">
            <div>
                <h3>SQL</h3>
                <p>Diseño y gestión de bases de datos para sitios o aplicaciones web.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/git.svg" alt="Icono de github">
            <div>
                <h3>Github</h3>
                <p>Control de versiones y colaboración en proyectos de desarrollo.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/wordpress.svg" alt="Icono de wordpress">
            <div>
                <h3>Wordpress</h3>
                <p>Creación y personalización de sitios web autoadministrables basados en diseño propio.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/powerpoint.svg" alt="Icono de powerpoint">
            <div>
                <h3>Powerponit</h3>
                <p>Diseño de presentaciones visuales y material de apoyo para proyectos o clientes.</p>
            </div>
        </div>
        <div>
            <img src="assets/media/word.svg" alt="Icono de word">
            <div>
                <h3>Word</h3>
                <p>Redacción y formato de documentos, presupuestos o manuales de marca.</p>
            </div>
        </div>
    </article>
</section>
