<section>
    <h1>{{ 'skills.TITLE' | translate }}</h1>
    <article>
        <div>
            <img src="assets/media/id.svg" alt="Icono de Indesign">
            <div>
                <h3>Indesign</h3>
                <p>{{ 'skills.1' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/ai.svg" alt="Icono de illustrator">
            <div>
                <h3>Illustrator</h3>
                <p>{{ 'skills.2' | translate}}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/ps.svg" alt="Icono de photoshop">
            <div>
                <h3>Photoshop</h3>
                <p>{{ 'skills.3' | translate}}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/lr.svg" alt="Icono de lightroom">
            <div>
                <h3>Lightroom</h3>
                <p>{{ 'skills.4' | translate}}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/acrobat.svg" alt="Icono de acrobat pro">
            <div>
                <h3>Acrobat Pro</h3>
                <p>{{ 'skills.5' | translate}}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/procreate.svg" alt="Icono de procreate">
            <div>
                <h3>Procreate</h3>
                <p>{{ 'skills.6' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/ae.svg" alt="Icono de after effects">
            <div>
                <h3>After effects</h3>
                <p>{{ 'skills.7' | translate}}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/pr.svg" alt="Icono de premiere pro">
            <div>
                <h3>Premiere Pro</h3>
                <p>{{ 'skills.8' | translate}}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/davinci.svg" alt="Icono de Davinci resolve">
            <div>
                <h3>Davinci Resolve</h3>
                <p>{{ 'skills.9' | translate}}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/figma.svg" alt="Icono de figma">
            <div>
                <h3>Figma</h3>
                <p>{{ 'skills.10' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/blender.svg" alt="Icono de blender">
            <div>
                <h3>Blender</h3>
                <p>{{ 'skills.11' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/angular.svg" alt="Icono de angular">
            <div>
                <h3>Angular</h3>
                <p>{{ 'skills.12' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/htmlycss.svg" alt="Icono de htmlycss">
            <div>
                <h3>HTML Y CSS</h3>
                <p>{{ 'skills.13' |translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/js.svg" alt="Icono de javascript">
            <div>
                <h3>Javascript</h3>
                <p>{{ 'skills.14' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/java.svg" alt="Icono de php">
            <div>
                <h3>Java</h3>
                <p>{{ 'skills.15' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/php.svg" alt="Icono de php">
            <div>
                <h3>PHP</h3>
                <p>{{ 'skills.16' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/sql.svg" alt="Icono de sql">
            <div>
                <h3>SQL</h3>
                <p>{{ 'skills.17' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/git.svg" alt="Icono de github">
            <div>
                <h3>Github</h3>
                <p>{{ 'skills.18' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/wordpress.svg" alt="Icono de wordpress">
            <div>
                <h3>Wordpress</h3>
                <p>{{ 'skills.19' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/powerpoint.svg" alt="Icono de powerpoint">
            <div>
                <h3>Powerponit</h3>
                <p>{{ 'skills.20' | translate }}</p>
            </div>
        </div>
        <div>
            <img src="assets/media/word.svg" alt="Icono de word">
            <div>
                <h3>Word</h3>
                <p>{{ 'skills.21' | translate }}</p>
            </div>
        </div>
    </article>
</section>
