@import url(styles/color.scss);
@font-face 
{
  font-family: 'Dan';
  src: url(assets/fonts/Dan.otf) format('opentype');
}
@font-face 
{
  font-family: 'Carlson';
  src: url(assets/fonts/carlson-script.ttf) format('truetype');
}
@font-face 
{
  font-family: 'Montserrat';
  src: url(assets/fonts/MONTSERRAT-BOLD.TTF) format('truetype');
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

button{
  padding: 0;
  border-radius: 2rem;
  backdrop-filter: blur(4px);
  background-color: transparent;
  box-shadow: inset 0 -2px 4px 0 var(--color-gray);
  border: none;
}

button:hover{
  cursor: pointer;
}

h1{
  padding-top: 3rem;
  font-family: Carlson;
  font-size: 7rem;
  text-align: center;
  color: transparent;
}

body {
  background-color: var(--color-1);
  color: var(--color-blue);
  width: 100vw;
  min-height: 100vh;
  font-family: Montserrat;

  h1{
    -webkit-text-stroke: 0.05rem var(--color-blue);
  }

  input, textarea{
    font-family: Montserrat;
    color: var(--color-blue);
  }

  a{
    color: var(--color-blue);
  }

  svg{
    fill: var(--color-blue);
  }

  .cv{
    background-color: var(--color-blue);
    color: var(--color-purple);
  }
}

body.dark-mode{
  background-color: var(--color-blue);
  color: var(--color-purple);

  a, button{
    color: var(--color-1);
  }

  input, textarea{
    font-family: Montserrat;
    color: var(--color-purple);
  }

  h1{
    -webkit-text-stroke: 0.05rem var(--color-purple);
  }

  svg{
    fill: var(--color-1);
  }

  .cv{
    background-color: var(--color-1);
    color: var(--color-blue);
  }
}